<footer class="text-sm py-4 md:py-10">
  <div class="container mx-auto py-8">
    <div class="sm:flex mb-4">
      <div class="sm:w-1/4 h-auto">
        <span class="text-2xl">SchoolFAQs</span>
        <div class="mt-2">
          <address class="mt-2">Bamenda, Cameroon</address>
        </div>
        <div class="mt-2">
          <div class="mb-2">
            <a href="mailto:contact@schoolfaqs.net"> contact@schoolfaqs.net </a>
          </div>
          <div>
            <a href="tel:+23768110807"> +237 681108107 </a>
          </div>
        </div>
        <ul class="flex text-lg mt-3">
          <li>
            <a href="//facebook.com/schoolfaqs" target="_blank">
              <i class="fa-brands fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="//twitter.com/schoolfaqs" class="ml-2" target="_blank">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>

          <li>
            <a href="//instagram.com/schoolfaqs" class="ml-2" target="_blank">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>

      <div class="sm:w-1/4 h-auto sm:mt-0 mt-8">
        <div class="text-lg mb-2">Company</div>
        <ul class="list-reset mb-3 leading-normal">
          <li class="mb-1">
            <a href="/about/"> about </a>
          </li>
          <li class="mb-1">
            <a href="/about/#team"> team </a>
          </li>
          <li class="mb-1">
            <a href="/about/#press"> press_and_media </a>
          </li>
        </ul>
    </div>
    <div class="mb-2 text-lg">
        <h3>Legal</h3>
        <ul class="list-reset leading-normal">
          <li class="mb-1">
            <a href="#"> terms_and_conditions </a>
          </li>
          <li class="mb-1">
            <a href="#"> privacy_policy </a>
          </li>
          <li class="mb-1">
            <a href="#"> cookies_policy </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center">
    <p>All rights reserved &copy; SchoolFAQs</p>
  </div>
</footer>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
